# Built Application Files
*.apk
*.ap_

# Java Class Files
*.class

# OS X Files 
.DS_Store

# Android
*.iml
.gradle
.idea/
local.properties
openCVLibrary340/build
.idea/workspace.xml
.idea/libraries
build/
captures
.externalNativeBuild

# Server
server/node_modules
server/config.json
server/package-lock.json
