# Built Application Files
*.apk
*.ap_

# Java Class Files
*.class

# OS X Files 
.DS_Store

# Android Studio
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
.externalNativeBuild
